<ngb-accordion>
  <ngb-panel *ngFor="let player of players">
    <ng-template ngbPanelTitle>
      <div class="panel-header">
        <span class="player-name">{{ player.player }}</span>
        <span class="total-score">{{ getTotalScore(playerPicks[player.player]) }}</span>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div *ngFor="let pick of playerPicks[player.player]">
        <p>{{ pick.name }} - Day 1: {{ pick.Day1Score }}, Day 2: {{ pick.Day2Score }}, Day 3: {{ pick.Day3Score }}, Day 4: {{ pick.Day4Score }}</p>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
