<div class="container">
  <h2>20/1 or less</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of filterByGroup('Group1')">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Price: {{ item.price }}</p>
        </div>
      </div>
    </div>
  </div>

  <h2>21/1 - 40/1</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of filterByGroup('Group2')">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Price: {{ item.price }}</p>
        </div>
      </div>
    </div>
  </div>

  <h2>41/1 - 66/1</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of filterByGroup('Group3')">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Price: {{ item.price }}</p>
        </div>
      </div>
    </div>
  </div>

  <h2>67/1 and above</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of filterByGroup('Group4')">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Price: {{ item.price }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Repeat for other groups -->
</div>
